name: 'Toloframework XJS (permissive JSON)'
scopeName: 'source.toloframework-xjs'
type: 'tree-sitter'
parser: 'tree-sitter-toloframework-xjs'
fileTypes: ['xjs', 'dep']
scopes:
  'key': 'keyword.operator'
  'comment': 'comment'
  'xjs > object > special:nth-child(0)': 'entity.name.tag'
  'special': 'entity.name.function'
  'number': 'constant.numeric'
  'string': 'string'
  'true': 'constant.language'
  'false': 'constant.language'
  'null': 'constant.language'
  'undefined': 'constant.language'
  '"{"': 'punctuation.definition.bold'
  '"}"': 'punctuation.definition.bold'
  '"["': 'punctuation.definition.bold'
  '"]"': 'punctuation.definition.bold'
folds: [
  {
    type: 'comment'
  },
  {
    type: 'object'
  },
  {
    type: 'array'
  },
  {
    start: {type: '"["', index: 0},
    end: {type: '"]"', index: -1}
  },
  {
    start: {type: '"{"', index: 0},
    end: {type: '"}"', index: -1}
  }
]
comments:
  start: '// '
