scopeName: 'toloframework-xjs'
name: 'Toloframework XJS (permissive JSON)'
type: 'tree-sitter'
parser: 'tree-sitter-toloframework-xjs'
fileTypes: ['xjs', 'dep']
scopes:
  'comment': 'comment'
  'xjs > object > special:nth-child(0)': 'constructor'
  'special, xjs > object > special:nth-child(1)': 'function'
  'number': 'number'
  'string': 'string'
  'true': 'keyword'
  'false': 'keyword'
  'null': 'keyword'
  'undefined': 'keyword'
folds: [
  {
    type: 'comment'
  },
  {
    start: {type: '"["', index: 0},
    end: {type: '"]"', index: -1}
  },
  {
    start: {type: '"{"', index: 1},
    end: {type: '"}"', index: -1}
  }
]
comments:
  start: '// '
